<header id="header-container">
    <a id="logo">
        Anthony Herrmann
    </a>
    <button id="menu-toggle" (click)="toggleMenu()" aria-label="Menu">&#9776;</button>
    <nav id="nav-menu" [class.active]="isMenuOpen">
        <ul id="nav-list">
            <li><a href="#home-page" (click)="scrollToSection($event, 'home-page')">Accueil</a></li>
            <li><a href="#presentation-page" (click)="scrollToSection($event, 'presentation-page')">Présentation</a></li>
            <li><a href="#skills-page" (click)="scrollToSection($event, 'skills-page')">Compétences</a></li>
            <li><a href="#projets" (click)="scrollToSection($event, 'projets')">Projets</a></li>
            <li><a href="#contact" (click)="scrollToSection($event, 'contact')">Contactez-moi</a></li>
        </ul>
    </nav>
</header>