<div class="home-page" id="home-page">
    <h1 class="text-presentation">
        <h2>Anthony HERRMANN</h2><br>
        Développeur Junior
    </h1>
    <p class="subtitle-presentation">
        Passionné du développement Web, je souhaite me spécialiser sur la technologie Angular
    </p>
    <div class="technology-content">
        <div class="technology-item technology-item--html">
            <i class="technology-item__icon fab fa-html5"></i>
            <span class="technology-item__label">HTML</span>
        </div>
        <div class="technology-item technology-item--css">
            <i class="technology-item__icon fab fa-css3-alt"></i>
            <span class="technology-item__label">CSS</span>
        </div>
        <div class="technology-item technology-item--js">
            <i class="technology-item__icon fab fa-js"></i>
            <span class="technology-item__label">Javascript</span>
        </div>
        <div class="technology-item technology-item--angular">
            <i class="technology-item__icon fab fa-angular"></i>
            <span class="technology-item__label">Angular</span>
        </div>
        <div class="technology-item technology-item--laravel">
            <i class="technology-item__icon fab fa-laravel"></i>
            <span class="technology-item__label">Laravel</span>
        </div>
        <div class="technology-item technology-item--git">
            <i class="technology-item__icon fab fa-git-alt"></i>
            <span class="technology-item__label">Git</span>
        </div>
    </div>
</div>